.aboutBg {
    background-image: url("https://i.ytimg.com/vi/44mBU7WDA24/maxresdefault.jpg");
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height:93vh;
    color:black;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 150px;
    display: flex;
}

.aboutTitle {
    font-family: "Lobster";
    font-size: 50px;
    text-align: center;
}

.aboutContent {
    text-align: center;
    font-family: "Lato";
  
    padding: 20px;
    height:40%;
    display: flex;
}

.bgA {
    background-color: #c6c6c6;
}

.line {
    border-bottom: solid .5px black;
    margin-bottom: 20px;
    padding: 20px;
}

.SocialIcon {
    margin: 10px;
}

.SocialIcon:hover {
    height: 75px;
    width:75;
}

.emptyA {
    width: 30%;
}



 @media (max-width: 550px) {
    .aboutContent {
    padding: 5px;
    }
}