

.qq {
 
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all .15s ease-in-out;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  }

  .qq:hover {
      background-color: #ee4444;
  }

  .qw {
      text-align: center;
      margin: 0 auto;
      display:flex;
      justify-content: space-around;
  }

  .qe {
    margin-bottom: 20px;
    color:black;
    border-bottom: solid black 1px;
    padding-bottom: 10px;
  }

  .bgclor {
    background-image: url("https://i.redd.it/slrs1oigsna01.png");
    width: 100%;
    padding-top: 200px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height:93vh;
    color:black;
    letter-spacing: 2px;
    text-align: center;
  }

  .goback {
      margin-top: 15px;
      text-decoration: none;
      color: black;
      transition: all .15s ease-in-out;
  }

  .goback:hover {
      color: gray;
  }

  .logintext {
      margin-top: 175px;
  }

  .logcolor {
      width: 30%;
      margin: 0 auto;
      padding: 10px;
      border-radius: 5px;
      background-image: linear-gradient(128deg, rgba(64, 61, 57, 0.5), rgba(255, 255, 255, 0.7));
      box-shadow:0 14px 28px 0 rgba(0,0,0, 0.25), 0 10px 10px 0 rgba(0,0,0,0.26);
  }

  .linediv {
      border-right:solid black 1px;

  }