
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  width:80%;
}

.flex{
  display:flex;
}

.forumbackground {
  background-image: url("https://i.imgur.com/twXSJT5.jpg?1");
  width: 100%;
  padding-top: 150px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 93vh;
  height: 100%;
}


.empty {
  width:20%;
}

.contentmain{
  width:100%;
  font-family: "Lato";
  margin-bottom: 10px; 
}


.middlebox{
  width:100%; 
}

box1{
  background-image: url('./images/image_part_003.jpg');
  width: 100%;
  padding-top: 150px;
  height: 950px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height:93vh;
}

.accountinfo {
  display: flex;
  justify-content: space-between;
  letter-spacing: .75px;
}

.infopicture {
  height: 140px;
  margin: 0 auto;
  border: 4px #ee4444 solid;
}

.spacing2 {
  text-align: center;
  margin:0 auto;
  width: 100%;
}

.infopicture2 {
  height: 120px;
  width:90%;
  margin: 5px;
}

.butyoumust {
  font-size: 20px;
  padding:20px;
}

.content2 {
 background-color: #c6c6c6;
}

.createbutton {
  background-color: #C6C6C6;
  border-color: #C6C6C6;
  font-size:18px;
  padding:5px;
  font-family: 'Lato';
  text-transform: uppercase;
  color:black;
  text-align: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  height: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0 auto;
}

.createbutton:hover {
  background-color:  #ee4444;
}

.center {
  text-align: center;
  margin-bottom: 10px;
}

.contentforumpost {
  width:90%;
  padding: 10px;
  background-color: #C6C6C6;
  font-family: "Lato";
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  transition: all .15s ease-in-out;
  font-family: "Lato";
}

.postleftcontent {
  border-right: solid black 1px;
  margin-right:5px;
  padding-right: 5px;
  flex:1.5;
}

.useridborder {
  border-bottom: solid black 1px;
  width:150px;
  margin-bottom: 5px;
  font-family: "Lato";
}

.postrightcontent {
  flex:8.5;
}

.actionbuttons {
  display:flex;
}

.actionbuttons > div {
  margin-right: 5px;
  margin-left: 5px;
}

.titlebuttons {
  display: flex;
  justify-content: space-between;
}

.rightbuttons {
  cursor: pointer;
}

.rightbuttons:hover {
  color:#ee4444;
}

.submittous {
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 45px;
  margin:0 auto;
  width:60%;
}

.flex2 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  
}

.vote {
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  transition:  all .15s ease-in-out;
}

.vote:hover {
  background-color: gray;
}

.ina {
  margin: 5px;
  border: solid black 1px;
  height: 100px;
  width: 300px;
}

.logbutton {
  border-radius: 5px;
  background-color: white;
  border-color: white;
}


.emptyleft {
  display:flex;
  width:10%;
}


.emptyright {
  width:30%;
}

.test5 {
  background-color: #C6C6C6;
  padding: 10px;
  border-radius: 5px;
}

.test4 > div{
  margin-top: 5px;
  border-bottom: .5px gray solid;
}

.test3 {
 border-bottom: .5px solid gray; 
}

.content {
  width:90%;
  margin: 0 auto;
  font-family: "Lato";
  margin-bottom: 10px;
}

.list {
  font-size: 13px;
  margin: 4px;
  padding: 0;
}

