
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  width:100%;
  background-color: rgba(43, 38, 38, 0.486);
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.flex{
  display:flex;
}

.forumbackground {
  background-color: #C6C6C6;
  width: 100%;
  padding-top: 150px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 93vh;
  height: 100%;
}


.empty {
  width:20%;
}

.contentmain{
  width:100%;
  font-family: "Lato";
  margin-bottom: 10px; 
}


.middlebox{
  width:100%; 
}

box1{
  background-image: url('./images/image_part_003.jpg');
  width: 100%;
  padding-top: 150px;
  height: 950px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height:93vh;
}

.accountinfo {
  display: flex;
  justify-content: space-between;
  letter-spacing: .75px;
}

.infopicture {
  height: 140px;
  margin: 0 auto;
  border: 4px #ee4444 solid;
}

.spacing2 {
  text-align: center;
  padding-bottom: 10px;
}

.infopicture2 {
  height: 130px;
  width: 130px;
  margin: 5px;
  /* border: 4px #ee4444 solid; */
}

.butyoumust {
  font-size: 20px;
  padding:20px;
}


.content2 {
 background-color: #c6c6c6;
}

.createbutton {
  background-color: white;
  border-color: white;
  font-size:18px;
  padding:5px;
  font-family: 'Lato';
  text-transform: uppercase;
  color:black;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all .15s ease-in-out;
  height: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.createbutton:hover {
  background-color:  #ee4444;
}

.center {
  text-align: center;
  margin-bottom: 10px;
}

.contentforumpost {
  padding: 10px;
  font-family: "Lato";
  border-radius: 5px 5px 5px 0px;
  display: flex;
  transition: all .15s ease-in-out;
  font-family: "Lato";
  margin-bottom: 5px;
  background-image: linear-gradient(128deg, rgba(64, 61, 57, 0.1), rgba(255, 255, 255, 0.2));
  box-shadow:0 14px 28px 0 rgba(0,0,0, 0.25), 0 10px 10px 0 rgba(0,0,0,0.26);
}

.postleftcontent {
  border-right: solid black 1px;
  margin-right:5px;
  padding-right: 15px;
  flex:1.5;
}

.useridborder {
  border-bottom: solid black 1px;
  width:150px;
  font-family: "Lato";
  margin-bottom: 10px;
}

.postrightcontent {
  flex:8.5;
}

.actionbuttons {
  display:flex;
}

.actionbuttons > div {
  margin-right: 5px;
  margin-left: 5px;
}

.titlebuttons {
  display: flex;
  justify-content: space-between;
}

.rightbuttons {
  cursor: pointer;
}

.rightbuttons:hover {
  color:#ee4444;
}

.submittous {
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 45px;
  margin:0 auto;
  width:60%;
}

.flex2 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  
}

.vote {
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  transition:  all .15s ease-in-out;
}

.vote:hover {
  background-color: gray;
}

.ina {
  margin: 5px;
  border: solid black 1px;
  height: 100px;
  width: 300px;
}

.logbutton {
  border-radius: 5px;
  background-color: white;
  border-color: white;
}


.emptyleft {
  display:flex;
  width:10%;
}

.emptyleft2 {
  width: 5%;
}


.emptyright {
  width:30%;
}

.responsiveacc {
  display: none;
}

.test52 {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.buttonres {
  margin: 10px;
}

.accinfo4 {
  display: flex;
}

.cbc  {
  background-color: #c6c6c6 !important;
}
@media (max-width:991px) {
  /*smaller*/
 .emptyright {
   display: none;
 }
 .emptyleft {
   display: none;
 }
 .responsiveacc {
   display: flex;
 } 
 .infopicture2 {
  height: 90px;
  width: 90px;
  margin: 0 auto;
 }
  .infopicture {
    height: 90px;
    width: 90px;
    margin-right: 5px;
  }
 .postleftcontent {
   padding-right: 0px;
 }
}


@media(max-width: 550px) {
  .title {
    font-size: 40px;
  }
}


.test5 {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 220px;
  min-width: 180px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}
.test4 {
  margin:5px;
}

.test4 > div{
  margin-top: 5px;
  border-bottom: .5px gray solid;
}

.test3 {
 border-bottom: .5px solid gray; 
}

.content {
  width:90%;
  margin: 0 auto;
  font-family: "Lato";
  margin-bottom: 10px;
}

.list {
  font-size: 13px;
  margin: 4px;
  padding: 0;
  margin: 8px;
}

.replybox {
  background-color: #e6e6e6;
  width: 90%;
  margin-bottom:5px;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);

}

.replyname {
  border-bottom: solid gray .5px;
}

.replybutton {
margin-top:120px;
width:60px;
height:30px;
border: none;
}

.replybutton:hover {
  background-color:#ee4444; 
  transition:  all .15s ease-in-out;
}

.seperate {
  justify-content: space-between;
}

.EnterTransition-enter {
  opacity: 0;
  transform:translateX(-20)
}

.EnterTransition-enter.EnterTransition-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s ease-out;
}

.EnterTransition-leave {
  opacity: 1;
  transform: translateX(0px)
}

.EnterTransition-leave.EnterTransition-leave-active {
  opacity:0.01;
  transform: translateX(-20px);
  transition: all 0.5s ease-in;
}

.forum1 {
  background-color:white;
  padding: 10px;
  border-radius: 5px 0 0 0;
}