@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (max-width: 950px) {
 
}

.navbar {
  background-color: transparent;
  position:fixed;
  width:100%;
  transition: all .3s ease-in-out;
}

.backtotop{
  margin-top:10px;
  text-decoration: none;
  font-size:15px;
  font-family: 'Lato', sans-serif;
  background: none;
  border:none;
  margin-bottom:5px;
  margin-right: 15px;
  cursor: pointer;
  color:white;
  transition: all .3s ease-out;
  letter-spacing: 1px;
}

.navbar2 {
 background-color:  #212529;
 padding: 8px;
}

/* .back2 {
 

} */

.backtotop:hover {
  border-bottom: 2px solid white;
  border-bottom-color: white;
}

.r2{
    margin-top:8px;
    text-decoration: none;
    font-size:15px;
    font-family: 'Lato', sans-serif;
    background: none;
    border:none;
    margin-bottom:5px;
    margin-right: 15px;
    color:white;
}

.navcont {
  display:flex;
  margin:0 auto;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.logo {
  
  transition: all .15s ease-in-out;
  margin-top:10px;
  margin-left:20px;
  font-size: 28px;
  font-family: 'Lobster', cursive; 
  color: #e44;
  letter-spacing: 1px;
}

.logo2 {
  opacity: 1;
  font-size: 28px;
  margin-top: 5px;
}

button:focus {outline:0}

.subscribe{
  background-image: url("./images/image.jpg");
  width: 100%;
  padding-top: 150px;
  height: 950px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display:flex;
  height:93vh;
  color:white;
  letter-spacing: 2px;
}


.empty {
  display:flex;
  width:20%;
}

.emptyr{
  display:flex;
  width:20%;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  margin:0 auto;
  
 
}

.forum{
  text-align: center;
  margin-top:140px;
  font-size:40px;
  margin-bottom:10px;
  font-family: 'Lobster', sans-serif;
  text-decoration: none;
  color:white;

}

.sub-box {
  width:60%;
}

.awesomething{
  text-align:center;
  font-size: 50px;
  margin-top:100px;
  font-family: 'Lobster', cursive;
  
}
.fly-subscribe-appear {
  opacity: 0.01;
  transform:translateY(-80px)
}

.fly-subscribe-appear.fly-subscribe-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition:all 1s ease-out;
}

.fly-menu-enter {
  opacity: 0.01;
  transform:translateY(-40px);
}

.fly-menu-enter.fly-menu-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-out;
}

.fly-menu-leave {
  opacity: 1;
  transform: translateY(0px)
}

.fly-menu-leave.fly-menu-leave-active {
  opacity:0.01;
  transform: translateY(0px);
  transition: all 0.2s ease-in;
}

.sub-box > input {
  margin:0 auto;
  display:block;
  height: 30px;
  width: 45%;
  border-radius: 5px;
}

.subinput {
  border:1px solid gray;
  text-align: center;
  font-size: 18px;
}

input.subinput:focus {
  outline-width:0;
}

.vertempty {
  height:25%;
  width:100%;
  position:relative;
}
.why{
  text-align: center;
  margin-top:200px;
  font-size:30px;
  margin-bottom:10px;
  font-family: 'Lobster', sans-serif;
}

.arrow-down {
  margin:0 auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}



.thewhypage{
 background-color: #f8f9fa;
  width: 100%;
  padding-top: 150px;
  height: 950px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display:flex;
  height:80vh;
}

.linktest{
  text-decoration: none;
  color:white;
  background: none;
  border:none;
  height:30px;
}

.linktest2{
  text-decoration: none;
  color:white;
  background: none;
  border:none;
  height:30px;
  text-align:center;
  font-size:30px;
  margin-bottom:10px;
  font-family: 'Lobster', sans-serif;
}

.linktest2:hover{
  color:#bfbfbf;
  cursor: pointer;
}

.wrapper{
  text-align: center;
  margin-bottom: 50px;
}

.video {
  margin:0 auto;
}


.forum:hover {
  color:#bfbfbf;
}

.navright {
  display:flex;
  width: 30%;
  margin-right: 100px;
  transition: all .3s ease-in-out;
  padding-top: 20px;
}

.navr2 {
  margin-right: 5px;
  padding-top:5px;
}


.submitbtn {
  background-color:  #ee4444;
  border-color:  #ee4444;
  font-size:18px;
  padding: 20px;
  font-family: 'Lato';
  text-transform: uppercase;
  color:white;
  text-align: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  letter-spacing: 2px;
  margin-top: 30px;
  cursor: pointer;
}

.submitbtn:hover {
  background-color:  #d21414;
}

.a1 {
 width: 100%;
 text-align: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color:#f9f9f9;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}


.has-children{
  display: none;
  position: absolute;
  width:6%;
  background: #c6c6c64b;
  transition: all .3s ease-out;
}

.has-children > li {
  margin: 5px 0px 10px 0px;;
  text-align: center;
  width:100%;
}

nav ul li:hover ul {
  display:flex;
  flex-direction: column;
}

.listhover:hover {
  width:100%;
  color:black;
}

.backtotop2{
  margin-top:10px;
  text-decoration: none;
  font-size:15px;
  font-family: 'Lato', sans-serif;
  background: none;
  border:none;
  margin-bottom:5px;
  margin-right: 8px;
  cursor: pointer;
  color:white;
  transition: all .3s ease-out;
  letter-spacing: 1px;
}

.dontShow {
  display:none;
}


.infopage {
  height: 80vh;
  width:100%;
  padding-top: 150px;
  display:flex;
}

.centertext {
  text-align: center;
  font-family: "Lato";
  width: 100%;
  margin-bottom: 20px;
}

.centerlarge {
  font-size: 45px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 10px;
}

.centersmall {
  font-style: italic;
  color:#6c757d;
  font-size: 20px;
}

.pointCont {
  display: flex;
  margin-right: 45px;
  margin-left: 45px;
 
}

.md {
  font-size: 100px;
  color:#ee4444;
}

.pointCont > div{
  flex: 1;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;

}

.pointCont > div > div {
  margin-bottom: 10px;
}
.infos {
  color:#6c757d;
  font-size: 20px;
}

.infot {
  font-size: 25px;
  font-weight: bold;
  color: #212529;
}

.emptyten {
  width: 10%;
}

.rbutton {
  display: none;
  font-size: 20px;
}

@media (max-width:991px) {
  /*smaller*/
  .rbutton{
    display:flex;
    margin-right: 50px;
    height: 35px;
    border:none;
    border-radius: 10px;
    margin-top: 6px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #ee4444;
  }
  .navright {
    display:none;
  }

  .logo {
    margin-left: 40px;
    font-size: 22px;
  }
  .subscribe {
  background-image: none;
  background-color: #212529;
  }

  .infopage {
    height: 100vh;
  }
}


.menuoptions {
  color: white;
  transition: all .15s ease-in-out;
  text-align: center;
  background-color: transparent;
  display:flex;
  flex-direction: column;
  animation-name: slide;
  animation-duration: 2s;
}

.menuoptions2 {
  background-color:#212529;
}

.menuoptions > div {
  margin-top: 7px;
}
